Integrity verification is not robust in HTTP-TPC PUSH

For HTTP-TPC PUSH requests, the current profile describes how the active party includes a `Repr-Digest` header in the `PUT` request that targets the passive party.

In of itself, this does not guarantee data integrity.

First, note that [RFC 7230 §3.2.1](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.1) says:
> A proxy MUST forward unrecognized header fields [...].  Other recipients SHOULD ignore unrecognized header fields.

Therefore, a conforming HTTP server that doesn't support [RFC 9530](https://datatracker.ietf.org/doc/rfc9530/) should simply ignore any `Repr-Digest` header in the `PUT` request.  It should not fail the request.

Second, RFC 9530 doesn't specify any particular behaviour of `Repr-Digest` on `PUT` requests: there's no requirement to fail such requests if the uploaded content has the wrong checksum value.

Finally, note also that, per RFC 9530 §3 ("The Repr-Digest Field")
> A recipient MAY ignore any or all digests.

For these three reasons, when undertaking an HTTP-TPC PUSH request, there's no guarantee that the active party specifying the `Repr-Digest` header on a PUT request will trigger any verification of the data.  The passive endpoint can legitimately respond 201 Created, even if it has received corrupted data.

One possible solution is to require the passive endpoint to affirm that the file's integrity was verified.   This could be done by including some specific information in the response headers.

The profile specification should also be extended to describe expected behaviour if the passive party does not affirm that the file's integrity was verified.  What should the active party do, in these circumstance?
